<!-- /.subscribe section -->
<div id="subscribe">
    <div class="subscribe fullscreen parallax" style="background-image:url('assets/bg.jpg');" data-img-width="1920" data-img-height="1281" data-diff="100">
        <div class="overlay">
            <div class="container">

                <!-- /.mail icon -->
                <div class="col-md-4 col-md-offset-4 text-center">
                    <i class="pe-7s-mail pe-va letter wow fadeInUp"></i>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>We'll research the market, identify the right target audience, analyze competitors and avoid users churn to increase retention. Enter your email address and we will do the rest.</p>

                    <!-- /.subscribe form -->
                    <div class="subscribe-form wow fadeInUp">
                        <form class="news-letter mailchimp" action="http://moxdesign.us10.list-manage.com/subscribe/post" role="form" method="POST">
                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                            <input type="hidden" name="id" value="bfdba52708">
                            <input class="form-control" type="email" name="MERGE0" placeholder="Your email..." required="">
                            <button type="submit" class="subscribe-btn btn">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
